<!DOCTYPE html>
{% load sass_tags %} {% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>news feed</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% sass_src 'css/all_common.scss' %}"
    />
    <link
      href="{% sass_src 'scss/pc_news.scss' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% sass_src 'scss/mo_news.scss' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="f20">
      <div id="pc_f">{% block content %} {% endblock %}</div></div>
  </body>
</html>
